@import url('/reset.css');
@font-face {
    font-family: "Gilroy GEO Heavy";
    src: url("https://db.onlinewebfonts.com/t/e8265e33dfba2c2751ec163c68553e74.eot");
    src: url("https://db.onlinewebfonts.com/t/e8265e33dfba2c2751ec163c68553e74.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e8265e33dfba2c2751ec163c68553e74.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/e8265e33dfba2c2751ec163c68553e74.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/e8265e33dfba2c2751ec163c68553e74.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/e8265e33dfba2c2751ec163c68553e74.svg#Gilroy GEO Heavy")format("svg");
}
*{
   font-family: "Gilroy GEO Heavy";
}
html{
scroll-behavior: smooth;
}
body{
    background-color: #ff4e00 ;
    background-image: url(/images/flag2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding:20px 70px;
 overflow: hidden;

}
.overlay-image {
 width: 200px;
  height: auto;
  margin: 0 auto;
}

.container_info{
  width: fit-content;
  margin: 0 auto;
  /* background-color: #fff3ee; */
   background-color: rgba(255, 243, 238, 0.9);
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
  margin-top: 90px;
}
.title{
  color:#ec4424;
  font-size: 40px;
  text-align: center;
}
.input_block{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form_label{
  color: #231f20;
  font-size: 42px;
  margin-top: 20px;
}
.form_input{
  width: 60%;
  background-color: #fff3ee;
  letter-spacing: 6px;
  text-align: center;
  font-size: 47px;
  color: #231f20;
  font-family: "Gilroy GEO Heavy";
  border-radius: 10px;
}
.form_button{
  font-size:50px;
  letter-spacing: 10px;
  padding: 10px;
  color: #fffefe;
  background-color: #06b6ec;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
   margin: 0 auto;
   cursor: pointer;
   border-radius: 145px;
   margin-top: 32px;
}

@media (max-width: 1024px) {

.container {
  padding:20px 40px;
}
.overlay-image {
 width: 150px;
  height: auto;
  
}
.container_info{
margin-top: 50px;
}
.title{
  font-size: 30px;
}

.form_label{
  font-size: 32px;
  /* margin-top:10px; */
}
.form_input{
  font-size: 37px;
}
.form_button{
  font-size:40px;
  letter-spacing: 8px;
  border: 2px solid #ffffff;
   border-radius: 145px;
   margin-top: 42px;
}
}
@media (max-width: 780px) {
body {
 background-size: contain;
}
}
@media (max-width: 575px) {
  body {
 background-size: contain auto;
}
  .container {
  padding:15px 30px;
}
  .overlay-image {
  width: 120px;
}
.container_info{
  padding:10px 20px 30px 20px;
  margin-top: 30px;
}

.title{
 font-size: 17px;
}
.form_label{
  font-size: 22px;
  /* margin-top:10px; */
}
.form_input{
  
  font-size: 27px;
  border-radius: 6px;
}
.form_button{
 font-size:30px;
  letter-spacing: 3px;
  border: 1px solid #ffffff;
   border-radius: 145px;
   margin-top: 22px;
}
}
@media (max-width: 385px) {
    body {
 background-size: contain;
}
  .overlay-image {
  width: 80px;
}
.container_info{
margin-top: 20px;
padding: 10px 10px 20px 10px;
}

title{
  color:#231f20;
  font-size: 12px;
}
.form_label{
  font-size: 17px;
  /* margin-top:5px; */
}
.form_input{
  font-size: 22px;
  border-radius: 3px;
  letter-spacing: 3px;
}
.form_button{
  padding: 7px;
  font-size:20px;
  letter-spacing: 2px;
  margin-top: 17px;
}
}